// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-grid-classes:                         true !default;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  hd: 1366px,
  fhd: 1920px,
  rt: 2560px,
  rt15: 2880px,
  4k: 3840px,
  5k: 5120px,
  8k: 7680px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  hd: 1306px,
  fhd: 1860px,
  rt: 2500px,
  rt15: 2820px,
  4k: 3780px,
  5k: 5060px,
  8k: 7620px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");
